{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'custom/establishment/establishment_home.css' %}">
{% endblock %}

{% block content %}
    <h2 id="header">Clients</h2>

    <div>
        <ul id="trips" class="col">
        {% for t in trips %}
            <li class="trip row">
                <div>
                    <span>Name:&nbsp;{{ t.rider.user.first_name }}&nbsp;{{ t.rider.user.last_name }}</span>
                    <span>Tab:&nbsp;${{ t.tab }}</span>
                    <span>Status:&nbsp;{{ t.status }}</span>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
