{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="backgroundImage"></div>

    <div class="container login">
        <div class="row">
            <div class="col loginName">
                Ubeer
            </div>
        </div>

        <div class="mx-auto loginFields">
            <form method = "post">
                {% csrf_token %}
                <div class="row form-group">
                    <input type="text" class="form-control" id="loginUser" name="username" placeholder="Username">
                </div>
                <div class="row form-group">
                    <input type="password" class="form-control" id="loginPassword" name="password" placeholder="Password">
                </div>
                <div class="row">
                    <button type="submit" class="loginButton">Log in</button>
                </div>
            </form>

            <div id="signupPrompt">
                <span class="asdf" style="color:#ececec !important">Don't have an account yet?</span>
                <span class="asdf"><a href="../signup" id="signupLink">Click here to signup!</a></span>
            </div>
        </div>

    </div>
{% endblock %}